<% content_for :title, t("sign_up.page_title") %>

<%= render "devise/shared/error_messages", resource: resource %>

<%= render "layouts/sign_in_up" do %>
  <h1 class="text-primary"><%= t("sign_up.title") %></h1>
  <p class="italic text-accent"><%= t("sign_up.description") %></p>

  <p class="my-6 place-self-start">
    <%= t("sign_up.already_have_account") %>
    <%= link_to t("sign_up.btn_sign_in"), new_user_session_path %>
  </p>

  <%= form_for(resource, data: { turbo: "false" }, as: resource_name, url: registration_path(resource_name), html: { novalidate: "novalidate" }) do |f| %>
    <div class="w-full uk-grid uk-grid-small">
      <div class="uk-width-1-2@s">
        <%= f.label :first_name, class:"uk-form-label" %>
        <div class="uk-form-controls">
          <%= f.text_field :first_name, autofocus: true, class: "uk-input" %>
        </div>
      </div>
      <div class="uk-width-1-2@s">
        <%= f.label :last_name, class:"uk-form-label" %>
        <div class="uk-form-controls">
          <%= f.text_field :last_name, autofocus: true, class: "uk-input" %>
        </div>
      </div>
      <div class="uk-width-1-1">
        <%= f.label :email, class:"uk-form-label" %>
        <div class="uk-form-controls">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "uk-input" %>
        </div>
      </div>
      <div class="uk-width-1-2@s">
        <%= f.label :password, class:"uk-form-label" %>
        <div class="uk-form-controls">
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "uk-input" %>
          <% if @minimum_password_length %>
            <em class="label-text-alt text-accent"><%= t("sign_up.characters_minimum", number: @minimum_password_length) %></em>
          <% end %>
        </div>
      </div>
      <div class="uk-width-1-2@s">
        <%= f.label :password_confirmation, class:"uk-form-label" %>
        <div class="uk-form-controls">
          <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: "uk-input" %>
        </div>
      </div>
    </div>
    <%= f.submit t("sign_up.btn_sign_up"), class: "!mt-4 uk-button uk-button-primary self-center" %>
  <% end %>
<% end %>
