<div
  x-data="{
    skip: 1,
    next() { this.to((current, offset) => current + (offset * this.skip)) },
    prev() { this.to((current, offset) => current - (offset * this.skip)) },
    to(strategy) {
      let slider = this.$refs.slider
      let current = slider.scrollLeft
      let offset = slider.firstElementChild.getBoundingClientRect().width
      slider.scrollTo({ left: strategy(current, offset), behavior: 'smooth' })
    },
    focusableWhenVisible: {
      'x-intersect: enter'() {
        this.$el.removeAttribute('tabindex')
      },
      'x-intersect: leave'() {
        this.$el.setAttribute('tabindex', '-1')
      },
    }
  }"
  class="hidden w-1/2 h-full p-2 bg-primary lg:block"
  >
  <div
    @keydown.right="next"
    @keydown.left="prev"
    tabindex="0"
    role="region"
    aria-labelledby="carousel-label"
    class="flex h-full outline-none"
    >
    <h2 id="carousel-label" class="sr-only" hidden>Carousel</h2>
    <span id="carousel-content-label" class="sr-only" hidden>Carousel</span>

    <button @click="prev" class="self-center w-8 h-8 bg-white rounded-full">
      <span aria-hidden="false">&#8592;</span>
      <span class="sr-only">Skip to previous slide</span>
    </button>

    <ul
      x-ref="slider"
      tabindex="0"
      role="listbox"
      aria-labelledby="carousel-content-label"
      class="flex w-full mx-2 overflow-x-scroll outline-none carousel-scrollbar scroll-snap-x"
    >
      <% %w[welcome projects programs collaborate community].each do | slide | %>
        <li class="flex flex-col items-center justify-center flex-shrink-0 w-full px-10 scroll-snap-start" role="option">
          <%= image_tag "carousel-slides/#{slide}.png", class: "mt-2 w-full mb-10", alt: slide %>
          <h3 class="pb-4 text-center text-white"><%= t("sign_in_up_slides.title_#{slide}") %></h3>
          <p class="text-xl text-center text-white"><%= t("sign_in_up_slides.text_#{slide}") %></p>
        </li>
      <% end %>
    </ul>

    <button @click="next" class="self-center w-8 h-8 bg-white rounded-full">
      <span aria-hidden="true">&#8594;</span>
      <span class="sr-only">Skip to next slide</span>
    </button>
  </div>
</div>
