<h1>Hi <%= @recipient.first_name %>!</h1>

<p>
  <%= @notification.subject %>:
</p>

<p>
  <%= truncate(@notification.message, length: 128, omission: '...') %>
  <%= link_to('read more', @notification.url) %>
</p>
