<% content_for :title, t("forgot_password.page_title") %>

<%= render "devise/shared/error_messages", resource: resource %>

<%= render "layouts/sign_in_up" do %>
  <h1 class="text-accent"><%= t("forgot_password.title") %></h1>
  <p class="text-accent"><%= t("forgot_password.description") %></p>

  <%= form_for(resource, data: { turbo: "false" }, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "w-full", novalidate: "novalidate" }) do |f| %>
    <div class="uk-margin">
      <%= f.label :email, class:"uk-form-label" %>
      <div class="uk-form-controls">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "uk-input" %>
      </div>
    </div>
    <%= f.submit t("forgot_password.btn_send_mail"), class: "uk-button uk-button-primary self-center mt-10" %>
  <% end %>
<% end %>
